.contact-preview {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgba(45, 50, 56, 0.747);
    box-shadow: 0 8px 32px 0 rgba(59, 57, 54, 0.568);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(90, 86, 86, 0.18);
    margin: 15px;
    cursor: pointer;
    padding: 0.5em;
    & .actions {
        position: absolute;
        right: 0;
        top: 0;
        padding: 0.5em;
    }

    & .img-container {
        padding: 1em;
        margin: auto;
        & img {
            object-fit: cover;
        }

        & .user-thumbnail {
            display: inline-block;
            font-size: 3rem;
            width: 120px;
            height: 120px;
            line-height: 120px;
            transition: all 0.2s ease;
        }
    }
}

@media (max-width: 500px) {
    .contact-preview {
        flex-direction: row;
        justify-content: unset;
        margin: 3px;
        border-radius: 40px;
        padding: unset;
        & .actions {
            top: unset;
        }
        & .img-container {
            width: 15%;
            padding:  0.5em;
            margin: unset;
            & .user-thumbnail {
                display: inline-block;
                font-size: 2rem;
                width: 45px;
                height: 45px;
                line-height: 45px;
                transition: all 0.2s ease;
            }
            & img {
                width: 100%;
            }
        }
    }
}
